<div class="container text-center">
  <hr />
  <div class="row" id="footer-container">


    <div class="col-md-4" id="footer-contact">
      <h5 style="text-decoration:underline" class="footer-header">Contact Us</h5>
      <h5>William Ryan, D.M.D.</h5>
      <p class="footer-content">
        10 Hinsdale Ave<br>
        Winsted, CT 06098<br>
      </p>
      <p class="footer-content"><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>: (860) 379-4382</p>
      <p class="footer-content" id="email"><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:feedback@startbootstrap.com">appointments@williamryanDMD.com</a></p>

    </div>

    <div class="col-md-4">
     <h5 style="text-decoration:underline" class="footer-header">Quick Links</h5>
     <ul class="nav nav-pills nav-stacked">
      <li class="foot-links-item">
        <a href="#" class="foot-links-link">About us</a>
      </li>
      <li class="foot-links-item">
       <a href="#" class="foot-links-link">Services</a>
     </li>
     <li class="foot-links-item">
       <a href="#" class="foot-links-link">FAQ</a>
     </li>
     <li class="foot-links-item">
       <a href="#" class="foot-links-link">Patient </a>
     </li>
   </ul>
 </div>



 <div class="col-md-4">
  <h5 class="footer-header">Connect with Us</h5>
  <ul class="list-unstyled list-inline list-social-icons">
    <li class="tooltip-social facebook-link"><a href="#facebook-page" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
    <li class="tooltip-social linkedin-link"><a href="#linkedin-company-page" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
  </ul>
  <ul class="list-unstyled list-inline list-social-icons">
    <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
    <li class="tooltip-social google-plus-link"><a href="#google-plus-page" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
  </ul>
</div>

</div>
</div>
<hr>

<div class="row">

  <div class="col-xs-12" id="copyright">
    <p>Copyright &copy; <%= Time.now.year %> Ryan S. Kelley Web Development</p>
  </div>

</div>