<div id="slider-bs">

</div>

<script>
$(document).ready(function(){

  $("#slider-bs").backstretch(["assets/house.png","assets/golden.png","assets/iceland.png"], {duration: 3000, fade: 750});

});
</script>
