
<hr>

<div class="row">

  <div class="col-lg-8">

  <div id="slider-bs">

  </div>

</div>

<div class="col-lg-4">

  <div id="slider-text">
    <h2>Happy Smiles</h2>
  <p>Here are some shots of happy patients of William Ryan DMD.</p>
  </div>

</div>

</div>

<script>
$(document).ready(function(){

  $("#slider-bs").backstretch(["assets/house.jpg","assets/golden.jpg","assets/iceland.jpg"], {duration: 3000, fade: 750});

});
</script>