<hr>

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="http://placehold.it/700x450">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Financial Policies</h2>
        <ul>
          <li>Easy payment options are available. All of our patients are provided with financing options</li>
          <li>We accept all major credit cards including Visa, Mastercard, Discover, and American Express.</li>
          <li>We will file your insurance claims for you as treatment is rendered and the insurance checks will be sent to you at homek</li>
          <li>You may pay each visit the day of the treatment before care is rendered.</li>
          <li>We are a private practice and have no contracts with any specific dental plans, however, our fees are fair, affordable, and tend to be less than what dental policies allow for our area</li>
        </ul>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>

<hr>