    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <img class="img-responsive img-rounded" src="http://placehold.it/900x350">
                <!-- take out img-rounded if you don't want the rounded corners on the image -->
            </div>
            <div class="col-lg-4">
                <h1>William Ryan DMD</h1>
                <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
                <a class="btn btn-primary btn-lg" href="#">Make an Appointment</a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Call 1-860-480-xxx to make an appointment.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <h2>Cosmetic Procedures</h2>
                <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.</p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <div class="col-lg-4">
                <h2>Checkups</h2>
                <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
                </p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
            <div class="col-lg-4">
                <h2>Teeth Cleaning</h2>
                <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. </p>
                <a class="btn btn-default" href="#">More Info</a>
            </div>
        </div>



    </div>