// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-top: 125px !important;
}

.navbar-fixed-top .nav {
  padding: 15px 0 !important;
}

footer {
  padding: 30px 0 !important;
}

#slider-bs{
  min-height: 500px;
  max-height: 1000px;
  min-width: 500px;
  max-width: 1000px;
}

