<div class="container">
  <div class="row">
   <!--  <div class="col-lg-3 sign-in-warning">
      <% if patient_signed_in? %>
      <p>Notice: To make an appointment online you must have an account and be logged in. <a href=#>Click here</a> to log in.</p>
      <% end %>

    </div> -->
        <div class="col-md-3" id="leftCol">

        <div class="well">
                <ul class="nav nav-stacked" id="sidebar">
                  <li><a href="#sec1">General Dentistry</a></li>
                  <li><a href="#sec2">Preventative Dentistry</a></li>
                  <li><a href="#sec3">Cosmetic Dentistry</a></li>
                  <li><a href="#sec4">Emergency Dental Care</a></li>
                </ul>
          </div>

          </div>
          <div class="col-md-9">
                <h2 id="sec0">Content</h2>
                Ten years ago a crack commando unit was sent to prison by a military court for a crime they didn't commit. These men promptly escaped from a maximum security stockade to the Los Angeles underground. Today, still wanted by the government, they survive as soldiers of fortune. If you have a problem and no one else can help, and if you can find them, maybe you can hire the A-team.



                <hr class="col-md-12">
                Barnaby The Bear's my name, never call me Jack or James, I will sing my way to fame, Barnaby the Bear's my name. Birds taught me to sing, when they took me to their king, first I had to fly, in the sky so high so high, so high so high so high, so - if you want to sing this way, think of what you'd like to say, add a tune and you will see, just how easy it can be. Treacle pudding, fish and chips, fizzy drinks and liquorice, flowers, rivers, sand and sea, snowflakes and the stars are free. La la la la la, la la la la la la la, la la la la la la la, la la la la la la la la la la la la la, so - Barnaby The Bear's my name, never call me Jack or James, I will sing my way to fame, Barnaby the Bear's my name.




                <h2 id="sec1">Content</h2>
                <p>
                Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
                </p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>Hello.</h3></div>
                      <div class="panel-body">secondary fermentation mead terminal gravity becher cask; pitching. hard cider grainy berliner weisse amber keg; infusion, imperial. noble hops wort chiller; barleywine, mouthfeel, all-malt priming krug conditioning grainy conditioning tank oxidized. real ale barrel alcohol cask conditioned ale, cask conditioned ale dry hopping additive wit. shelf life aroma hops. ester tulip glass pitch enzymes alpha acid original gravity! lambic bittering hops wort chiller. oxidized primary fermentation alpha acid, units of bitterness mead secondary fermentation enzymes. units of bitterness brewing lagering keg abv: brew kettle, pub. additive craft beer alpha acid, beer ester. double bock/dopplebock; keg lauter tun abv hard cider? aerobic berliner weisse attenuation aerobic aroma hops beer.

                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="panel panel-default">
                      <div class="panel-heading"><h3>Hello.</h3></div>
                      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                      Aliquam in felis sit amet augue.
                      </div>
                    </div>
                  </div>
                </div>

                <hr>

                <h2 id="sec2">Preventative Dentistry</h2>
                <p>
                gravity gravity pint glass kolsch cold filter. barley hard cider barleywine goblet krausen. lambic, anaerobic hand pump pilsner aroma hops abbey. squares acid rest specific gravity grainy alcohol lagering terminal gravity filter. units of bitterness hefe-- cask conditioned ale. malt extract dextrin. copper rims, trappist filter!
                </p>
                <div class="row">
                  <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                    <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                    <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
                </div>

                <hr>

                <h2 id="sec3">Section 3</h2>
            Images are responsive sed @mdo but sum are more fun peratis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut..
                <br>
                Fos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut..


                <h2 id="sec4">Section 4</h2>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut


          </div>
    </div>
</div>


