 <div class="container">
  <div class="row">

    <div class="col-lg-12" id= "appointment-page-header">
      <h1 class="page-header">Reguest an Appointment
        <small>Submit an Appointment Request Online</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a>
        </li>
        <li class="active">Appointments</li>
      </ol>
    </div>

  </div>

  <div class="appointment-body" id="new-appointment">

    <div class="col-lg-12 returning-patient">

      <h4></h4>

    </div>

    <div class="row">

      <%= render partial: "shared/appointment-form" %>

    </div>

  </div>