<div class="appointment-body" id="new-appointment">

  <div class="col-lg-12 returning-patient">

    <h4></h4>

  </div>

  <div class="row">

  <%= render partial: "shared/appointment-form" %>

  </div>

</div>