 <div class="container">
  <div class="row">

    <div class="col-lg-12" id= "appointment-page-header">
      <h1 class="page-header">Success!
        <small>Appointment Request Sent</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a>
        </li>
        <li class="active">Appointments</li>
      </ol>
    </div>
  </div>


  <h3>Your appointment request has been sent.</h3>
  <p>We will review your request and contact you at the email and phone number you provided within two business days to confirm your appointment.</p>

  <h3>Details</h3>
<!-- Todo Add appointment details here in erb -->

</div>